<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div style="background-color:grey;height:100px">headder</div>
    <div class="clas1" style="display:flex">
        <div style="width:500px;background-color:red" >section</div>
        <div>
            @RenderBody()
        </div>

    </div>
    <div style="height:100px ;background-color:aqua">footer</div>
</body>
</html>
