  @model instructor

   
    
    <div class="card" style="width:400px ;margin-left:20px">
        <img class="card-img-top" src="/images/@Model.image" alt="Card image" style="width:100%">
        <div class="card-body">
            <p class="card-text">@Model.id</p>
            <h4 class="card-title">@Model.name</h4>
            <h4 class="card-title">@Model.salary</h4>
            <a href="#" class="btn btn-primary">See Profile</a>
        </div>
    </div>
