@model instructor
@{
    ViewData["Title"] = "edit";
    SelectList lis = new SelectList(ViewBag.courses, "id", "name");
}

<h1>Update</h1>

<form class="form-control" action="/instructor/saveedit/@Model.id"  method="post"  style="background-color:darkgray">
    
    <label asp-for="name"></label>
    <input class="form-control form-control-lg" asp-for="name" />
    <br />
    <label asp-for="address"></label>
    <input class="form-control form-control-lg" asp-for="address" />
    <br />
    <label asp-for="salary"></label>
    <input class="form-control form-control-lg" asp-for="salary" />
    <br />
    <label asp-for="image"></label>
    <input class="form-control form-control-lg" asp-for="image" />
    <br />
    <label asp-for="course_id"></label>
    <select asp-for="course_id" asp-items="lis">
        <option value="0"> select course</option>
    </select>
    @* <input class="form-control form-control-lg" asp-for="course_id" /> *@
    <br />
    <input type="submit" class="btn btn-success"/>



</form>

