@model trainee_course_result




<table class="table table-bordered table-hover">

    <tr>
        
        <th>Trinae NAme</th>
        <th>Course name</th>
        <th>Trinae  Greed</th>
    </tr>
    <tr>
        <td>@Model.TraineeName</td>
        <td>@Model.CourseName</td>
        <td style="color:@Model.color">@Model.greed</td>
    </tr>
</table>
